
h3{
  font-family: 'Poppins', sans-serif;
  font-size: 0.95em;
  text-transform: uppercase;
  color: #D8FCEE;
  font-weight: 400;
}
a{
   text-decoration: none;
   color: white;
   font-weight: 400;
   font-size: 0.85em;
}
p{

  color:#04715E;
}

footer{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:fit-content;
  background-color: #04715E;
}


.upper-footer{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  align-items: center;
}
.upper-footer label{
  color:#D8FCEE;
  font-size: 0.95em;
}

.upper-footer input{
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 2px solid #D8FCEE;
  padding-top: 5%;
}
::placeholder{
  font-size: 12px;
  color: #B8B8B8;
  padding-bottom: 10px;
}



.upper-footer p{
    color:#fff;
    font-size: 0.85em;
}

.links-section{
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
  height:fit-content;

}
.links{
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}
.links a{
  padding-bottom: 0.4em;
}

.mid-footer{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 3.5em;
  margin-right: 3.5em;
  border-top: 0.2px solid #96BBAD;
}
.mid-footer img{
  height: 100px;
  width: auto;
}
.socials img{
  height: 20px;
  width: auto;
}

.lower-footer{
  background-color: #EAFFF7;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3.5em;
  padding-right: 3.5em;
  font-size: 0.85em;
}
.rights-privacy{
  display: inline-flex;
  flex-direction: row;
}
@media only screen and (max-width: 750px) {
  .upper-footer{
    flex-direction: column;
  }
  .mid-footer{
  flex-direction: column;
align-items: center;
height:fit-content;
  }
  .lower-footer{
    flex-direction: column;
    align-items: center;
    height:fit-content;

  }
  .upper-footer{
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }

}
