@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

li{
  list-style: none;
  display: inline;
}
ul a{
font-family: 'Poppins', sans-serif;
font-size: 0.85rem;
  color:grey;
  text-decoration: none;
  padding: 1em 1.2rem;
   text-align: center;
}

.nav-links3 img{
  height: 20px;
  width: auto;
}

nav{
  top: 0;
  left: 0;
  right:0;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: white;
  border-bottom: 1px solid #F1F3F7;
  position: fixed;
  box-shadow: 12px 12px 15px 1px rgba( 223, 223,223, 0.2)

}

.nav-links1{
padding-bottom: 1em;
padding-top: 1em;
display: inline-flex;
flex-direction: row;
}

.logo{
  height:3.25rem;
  width: auto;
    padding: 1em 1.5rem;
}

.nav-links3 div{
  display: inline-flex;
  justify-content: space-between;
   text-align: center;
  padding: 1em 1rem;
   flex-direction: row;
}

.nav-links3 {
  padding-right: 3em;
}

.nav-links3 .anlysis a{
font-family: 'Poppins', sans-serif;
text-decoration: none;
border-bottom: 1px solid #04715E;
 color: #453886;
font-size: 0.85rem;
  color: #04715E;
}

.menu{
  display: none;
  height:1.75rem;
  width: auto;
  padding: 1.5em 1rem;
}

ul a:hover{
  color: #04715E;
  font-weight: bold;
  border-bottom: 1.5px solid #04715E;
  padding-bottom: 2em;
}

@media only screen and (max-width: 950px) {
.linkoff a{
    display: none;
  }
  .nav-links1{
    display: none;
  }
  .menu{
    display: inline;
  }
  .nav-links2{
    padding-left: 1.5em;
  }
  .nav-links3 {
    display: flex;
  float: right;
    padding-right: 0.25%;
  }
}
@media only screen and (max-width: 950px) {

  .nav-links2{
    padding-left: 0.5em;
  }
  .nav-links3 {
    display: flex;
  flex-flow:row-reverse;

    padding-right: 0.25em;
  }
}
